In [53]:
#LIBRARIES
import pandas as pd
import matplotlib.pyplot as plt

In [54]:
#READ FILE + DROP NULL COLUMNS
df = pd.read_excel('RA.xlsx', header = 7)
df = df.drop(['Unnamed: 1','Unnamed: 28','Unnamed: 29'], axis=1)

In [55]:
#HEADER LIST
col = list(df.columns.values)
c = col[:]
unclean_column_names = col.copy()
col2 = df.iloc[:1,:].values[0]

i=2
while i < len(col)-3:
    x = col[i-1]
    while 'Unnamed' in col[i]:
        col[i] = x
        i = i+1
    i = i+1
    
#INITIALIZE
col[0] = 'SEAT NUM'
col[i] = 'TOTAL'
col[i+1] = 'GPA'
col[i+2] = 'RESULT'
col2[0] = ''
col2[-1] = ''
col2[-2] = ''
col2[-3] = ''

# print(l)
cols = list(zip(col,col2))
header = ["-".join(i).strip('-') for i in cols]

col.insert(1,'NAME')  #For Storing orignal order of columns

In [56]:
newdf = pd.read_excel('RA.xlsx', header = 6)
coursenum = list(newdf.columns)
coursenum = [i for i in coursenum if 'Unnamed' not in i][1:-5]
subject_names = [i for i in unclean_column_names if 'Unnamed' not in i]
subjectcodes = dict(zip(coursenum,subject_names))

In [57]:
df = df.rename(columns=dict(zip(c, header)))
df = df.iloc[3:,:]
df.index = pd.RangeIndex(len(df.index))
dfmarks = df.loc[::2]
dfnames = df.loc[1::2]


# dfmarks.loc[:,'NAME'] = dfnames['SEAT NUM'].values
dfmarks.loc[:,'NAME'] = dfnames.loc[:,'SEAT NUM'].values
dfmarks.index = pd.RangeIndex(len(dfmarks.index))

In [58]:
l = [i for i in dfnames.columns if 'TOT' in i][:-1] + list(dfnames.columns[-3:])
dfnames = dfnames.drop(l, axis=1)

In [59]:
def clean(x):
    if x == 'Ab':
        return int(0)
    x = list(str(x))
    if x[-1] == 'E' or  x[-1] == 'F':
        return int("".join(x[:-1]))
    else:
        return int("".join(x))

In [60]:
for i in dfmarks.columns[1:-4]:
    dfmarks.loc[:,i] = dfmarks.loc[:,i].apply(clean)

In [61]:
dfcolumns = list(dfmarks.columns)
totalcols = [dfcolumns[0]] + [i for i in dfcolumns if 'TOT' in i]
totalcols = totalcols + dfcolumns[-3:]
dftotalmarks = dfmarks.loc[:,totalcols]

In [62]:
originalcol = col[:]
originalcol = list( dict.fromkeys(originalcol) ) #Stores Original Order of columns

In [63]:
#REORDER COLUMNS
totalmarkscol = []
for i in originalcol:
    if i in dftotalmarks.columns:
        totalmarkscol.append(i)
    elif str(i+str('-TOT')) in dftotalmarks.columns:
        totalmarkscol.append(str(i+str('-TOT')))

In [67]:
temp = [i for i in coursenum if coursenum[0][:3] in i]

In [68]:
subjectcols = list(dftotalmarks)[2:-3]
subjectcols = subjectcols[:len(temp)]

In [69]:
subjectcols

['APPLIED MATHEMATICS III-TOT',
 'THERMODYNAMICS-TOT',
 'STRENGTH OF MATERIALS-TOT',
 'PRODUCTION PROCESS I-TOT',
 'MATERIAL TECHNOLOGY-TOT']

In [70]:
totalmarkscol = totalmarkscol[:2] + subjectcols + totalmarkscol[-3:]
totalmarkscol

['SEAT NUM',
 'NAME',
 'APPLIED MATHEMATICS III-TOT',
 'THERMODYNAMICS-TOT',
 'STRENGTH OF MATERIALS-TOT',
 'PRODUCTION PROCESS I-TOT',
 'MATERIAL TECHNOLOGY-TOT',
 'TOTAL',
 'GPA',
 'RESULT']

In [71]:
dftotalmarks = dftotalmarks[totalmarkscol]
dftotalmarks.head()

,SEAT NUM,NAME,APPLIED MATHEMATICS III-TOT,THERMODYNAMICS-TOT,STRENGTH OF MATERIALS-TOT,PRODUCTION PROCESS I-TOT,MATERIAL TECHNOLOGY-TOT,TOTAL,GPA,RESULT
0,13001,ABHIJITH SHAH NITA,36,24,30,57,47,344.0,2.96,F
1,13002,AGRAWAL AKHILESH SANJAY ANURADHA,44,30,50,57,51,366.0,3.69,F
2,13003,AGRAWAL RONAK ANIL VARSHA,61,53,76,68,64,471.0,7.23,P
3,13004,ALDAR ROHAN PANDHARINATH SANGITA,40,30,46,43,42,333.0,3.12,F
4,13005,AWATE TEJAS PANDURANG RANJANA,5,18,30,58,44,323.0,3.65,F

In [81]:
# dftotalmarks['APPLIED MATHEMATICS III-TOT'].apply(lambda x:int(x>40))
# dftotalmarks['THERMODYNAMICS-TOT'].apply(lambda x:int(x>40))
# dftotalmarks['STRENGTH OF MATERIALS-TOT'].apply(lambda x:int(x>40))
# dftotalmarks['PRODUCTION PROCESS I-TOT'].apply(lambda x:int(x>40))
# dftotalmarks['MATERIAL TECHNOLOGY-TOT'].apply(lambda x:int(x>40))